h1  {
    color:goldenrod;
    text-align: center;
}

h2  {
    color:darkslateblue;
    text-align: center;
}

p   {
    color:black;
    text-align: center;
}

textarea    {
    color:black;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(190, 190, 205, 0.8);
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.center-container {
    text-align: center; /* This can center inline-block elements inside */
}

.centered-dropdown {
    display: block; /* Ensures margin: auto works */
    margin-left: auto;
    margin-right: auto;
    width: 55%; /* Set a specific width */
}

select {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(80, 234, 33, 0.585);
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.banner__image {
    display:flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 10px auto;
    display: block;
}
.banner__Nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 12, 39);
    background: linear-gradient(180deg, #4f053b, #da6eba);)
    padding: 20px;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.banner__Content{
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    background: linear-gradient(135deg, #da6eba, #8ec5fc);)
    padding: 20px;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.banner__Nav h1{
    font-size: 263%;
    text-align: center;
    margin-bottom: 10px;
    color: white;   
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.banner__Nav p {
    font-size: 120%;
    text-align: center;
    color: rgb(99, 49, 49);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.banner__Navcards a{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}