h1  {
    color:goldenrod;
    text-align: center;
}

h2  {
    color:darkslateblue;
    text-align: center;
}

p   {
    color:black;
    text-align: center;
}

textarea    {
    color:black;
    text-align: left;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(190, 190, 205, 0.8);
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.center-container {
    text-align: center; /* This can center inline-block elements inside */
}

.centered-dropdown {
    display: block; /* Ensures margin: auto works */
    margin-left: auto;
    margin-right: auto;
    width: 55%; /* Set a specific width */
}

select {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(80, 234, 33, 0.585);
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
